.main {
   width: 50%;
   margin: 50px auto;
   display: flex;
   text-align: center;
   justify-content: space-around;
   align-items: center;
}

.box {
   border: 3px solid black;
   width: 400px;
}
p {
   font-size: 50px;
}

.btn {
   text-align: center;
}
button {
   padding: 5px 10px;
   margin-right: 5px;
   border: none;
   background-color: rosybrown;
   color: #fff;
   border-radius: 5px;

   cursor: pointer;
}
button:hover {
   background-color: rgb(211, 188, 188);
}

.win {
   border: 3px solid tomato;
}
.lose {
   border: 3px solid teal;
}
.tie {
   border: 3px solid orange;
}
